# For APIs
fastapi
uvicorn

# Environment variables
python-dotenv

# LLM (Gemini)
google-genai

# Vector DB
qdrant-client

# Embeddings
sentence-transformers
torch

# Validation
langchain
langchain-google-genai

# Data processing
numpy
tqdm
PyMuPDF
